<canvas id="mainCanvas"> </canvas>

<div id="toolbar">
  <button
    class="toolbar-btn {{ state == STATE.POLYGON ? 'active' : '' }}"
    [disabled]="state != STATE.IDLE && state != STATE.POLYGON"
    (click)="startPolygonAnnotation()"
  >
    <i class="material-icons">
      format_shapes
    </i>
    Polygon
  </button>
  <button
    class="toolbar-btn {{ state == STATE.FREEHAND || state == STATE.FREEHAND_MOUSEDOWN ? 'active' : '' }}"
    [disabled]="state != STATE.IDLE && state != STATE.FREEHAND && state != STATE.FREEHAND_MOUSEDOWN"
    (click)="startFreehandAnnotation()"
  >
    <i class="material-icons">
      create
    </i>
    Freehand
  </button>
  <button class="toolbar-btn" [disabled]="currentCanvasAnnotationIndex < 0" (click)="deleteAnnotation()">
    <i class="material-icons"> delete </i>Delete
  </button>
  <button class="toolbar-btn" [disabled]="state != STATE.IDLE">
    <i class="material-icons">
      cloud_upload
    </i>
    Upload
  </button>
</div>

<div id="label-selector"></div>
