<canvas id="mainCanvas"> </canvas>

<div id="toolbar">
  <button
    class="toolbar-btn {{ state == STATE.POLYGON ? 'active' : '' }}"
    [disabled]="state != STATE.IDLE && state != STATE.POLYGON"
    (click)="startPolygonAnnotation()"
  >
    Polygon
  </button>
  <button
    class="toolbar-btn {{ state == STATE.FREEHAND || state == STATE.FREEHAND_MOUSEDOWN ? 'active' : '' }}"
    [disabled]="state != STATE.IDLE && state != STATE.FREEHAND && state != STATE.FREEHAND_MOUSEDOWN"
    (click)="startFreehandAnnotation()"
  >
    Freehand
  </button>
  <button class="toolbar-btn" [disabled]="state == STATE.IDLE">Delete</button>
  <button class="toolbar-btn" [disabled]="state != STATE.IDLE">Upload</button>
</div>

<div id="label-selector"></div>
