<canvas id="mainCanvas"> </canvas>

<div id="toolbar">
  <button
    class="toolbar-btn {{ state == STATE.POLYGON ? 'active' : '' }}"
    [disabled]="state != STATE.IDLE && state != STATE.POLYGON"
    (click)="startPolygonAnnotation()"
  >
    <i class="material-icons">
      format_shapes
    </i>
    Polygon
  </button>
  <button
    class="toolbar-btn {{ state == STATE.FREEHAND || state == STATE.FREEHAND_MOUSEDOWN ? 'active' : '' }}"
    [disabled]="state != STATE.IDLE && state != STATE.FREEHAND && state != STATE.FREEHAND_MOUSEDOWN"
    (click)="startFreehandAnnotation()"
  >
    <i class="material-icons">
      create
    </i>
    Freehand
  </button>
  <button
    class="toolbar-btn"
    [disabled]="currentCanvasAnnotationIndex < 0 || canvasAnnotations[currentCanvasAnnotationIndex].label == null"
    (click)="initLabelling()"
  >
    <i class="material-icons"> label </i><br />Relabel
  </button>
  <button class="toolbar-btn" [disabled]="currentCanvasAnnotationIndex < 0" (click)="deleteAnnotation()">
    <i class="material-icons"> delete </i>Delete
  </button>
  <button class="toolbar-btn" [disabled]="state != STATE.IDLE">
    <i class="material-icons">
      cloud_upload
    </i>
    Upload
  </button>
</div>

<div id="label-selector-wrapper" *ngIf="showSelectLabel">
  <div id="label-selector">
    <div class="image-detail-container">
      <mat-card class="image" style="width: 100%">
        <mat-card-header>
          <mat-card-title>Select a label</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="From the taxonomy" (click)="tabLabelTaxonomy()">
              <div class="label-container">
                <div
                  *ngFor="let type of campaign.taxonomy; let i = index"
                  class="{{ taxnonomyChosen == i ? 'chosen' : '' }}"
                >
                  <button mat-stroked-button (click)="chooseLabel(i)">{{ type }}</button>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Other label">
              <div class="other-container">
                <mat-form-field appearance="outline" (click)="tabLabelOther()">
                  <mat-label>Other</mat-label>
                  <input [(ngModel)]="otherLabelValue" matInput name="otherLabel" />
                </mat-form-field>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="selectLabel()">
            Select
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
