.campaigns-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1040px;
  margin: 0 auto;
}

.campaign {
  display: inline-block;
  vertical-align: top;
  width: calc(1040px / 2 - 40px);
  padding: 0;
  margin: 20px;
}

.campaign .image-container,
.image-container img {
  width: 100%;
}

.campaign .image-container {
  height: 200px;
  overflow: hidden;
}

.campaign .mat-card-content {
  height: 100px;
  padding: 20px;
  padding-bottom: 0;
  overflow: auto;
  text-align: justify;
  white-space: pre-line;
}

.campaign .mat-card-header {
  padding: 20px;
}

.campaign .mat-card-actions {
  padding: 20px;
  padding-top: 0;
}
