<div class="campaigns-container">
  <mat-card class="example-campaign">
    <mat-card-header>
      <mat-card-title>Potato Campaign</mat-card-title>
      <mat-card-subtitle>
        <small>We will classify ALL the potatoes!</small></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      
    </mat-card-content>
    <mat-card-actions>
      <div class="button-action-container">
        <button
          mat-raised-button
          routerLink="/campaign"
          color="primary"
        >
          Label
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>