mat-form-field {
  display: block;
}

.login-card {
  width: 500px;
  margin: 0 auto;
}

.register {
  text-align: center;
}

.alert {
  color: red;
  font-weight: bold;
}

.login-card button {
  margin-right: 8px;
}
