<mat-card class="login-card">
  <mat-card-content>
    <h1>Login</h1>
    <form class="login-form">
      <mat-form-field class="full-width">
        <mat-label>BSH Email</mat-label>
        <input matInput placeholder="BSH Email" name="email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" name="password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
    <section class="register">
      <p>Don't have access? Sign up using your BSH email <a routerLink="/register">here</a></p>
    </section>
  </mat-card-actions>
</mat-card>