.campaign-container {
  display: flex;
  align-items: stretch;
}

.campaign-selected {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.campaign-bottom-cards {
  max-width: 1000px;
  white-space: nowrap;
  margin: 0 auto;
}

.campaign-selected .mat-card-actions {
  margin: 0 !important;
}

.campaign-selected .image-container {
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 20px;

  max-height: 300px;
  overflow: hidden;
}

.campaign-selected .image-container img {
  width: 100%;
}

.campaign-selected .image-container img {
  width: 100%;
}

.campaign-selected .button-action-container button {
  margin-right: 8px;
}

.campaign-selected .mat-card-actions {
  min-height: 37px;
}

.campaign-selected .mat-card-content {
  margin-bottom: 40px;
}

.btn-icon {
  display: inline-block;
  margin-right: 6px;
}

.button-action-container-left {
  float: left;
}

.button-action-container-right {
  float: right;
}

@media (max-width: 1000px) {
  .campaign {
    width: calc(100% - 20px);
    margin: 10px;
  }

  .button-action-container-left {
    float: none;
  }

  .button-action-container-right {
    float: none;
  }

  .button-action-container-left button {
    margin-bottom: 10px;
  }

  .button-action-container-right button {
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 599px) {
  .campaign {
    width: calc(100% - 20px);
    margin: 10px;
  }

  .button-action-container-left {
    float: none;
  }

  .button-action-container-right {
    float: none;
  }

  .button-action-container button {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .campaign-bottom-cards {
    max-width: 1000px;
    white-space: initial;
    margin: 0 auto;
  }
}
