<div class="campaign-container auto-layout-container" *ngIf="campaignLoaded">
  <mat-card class="campaign-selected">
    <mat-card-header>
      <mat-card-title>{{ campaign.name }}</mat-card-title>
      <mat-card-subtitle>
        <small>Object classification campaign</small>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="image-container">
      <img src="{{ campaign.image }}" />
    </div>
    <mat-card-content>
      <p>
        {{ campaign.description }}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <div class="button-action-container button-action-container-left">
        <button mat-flat-button [routerLink]="['/campaigns', campaign.urlName, 'annotate']" color="primary">
          <span class="btn-icon">⛶</span>Annotate Random Images
        </button>
        <button mat-flat-button [routerLink]="['/campaigns', campaign.urlName, 'upload']" color="primary">
          <span class="btn-icon">🡅</span>Upload Images
        </button>
      </div>
      <div class="button-action-container button-action-container-right">
        <button mat-stroked-button [routerLink]="['/campaigns', campaign.urlName, 'history']" color="primary">
          <span class="btn-icon"><i class="material-icons">collections</i></span
          >Your Images and Annotations
        </button>
        <button
          *ngIf="canEditCampaign"
          mat-stroked-button
          [routerLink]="['/campaigns', campaign.urlName, 'admin']"
          color="primary"
        >
          <span class="btn-icon"><i class="material-icons">settings</i></span
          >Administration
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <bsh-leaderboard [campaignId]="campaign.id"></bsh-leaderboard>
  <bsh-prediction [campaignId]="campaign.id"></bsh-prediction>
</div>
