<nav>
  <mat-toolbar>
    <div class="toolbar-content">
      <div class="toolbar-left">
        <img src="assets/logo.svg" class="logo" height="60" routerLink="/" />
        <a *ngIf="router.url != '/'" routerLink="/campaigns" class="nav-btn">
          Campaigns
        </a>
        <button
          *ngIf="router.url == '/campaigns'"
          routerLink="/campaigns/create"
          mat-flat-button
          color="primary"
          style="margin-left: 30px;"
        >
          Create
        </button>
        <span *ngIf="router.url != '/campaigns'" class="nav-btn nav-slash nav-hidden" id="nav-campaign-slash">/</span>
        <a *ngIf="router.url != '/campaigns'" class="nav-btn" id="nav-campaign-btn"></a>
        <span *ngIf="router.url != '/campaigns'" class="nav-btn nav-slash nav-hidden" id="nav-function-slash">/</span>
        <a *ngIf="router.url != '/campaigns'" class="nav-btn" id="nav-function-btn"></a>
      </div>
      <div class="button-group">
        <button mat-stroked-button routerLink="/" color="primary">
          <span *ngIf="router.url != '/'">
            Log out
          </span>
          <span *ngIf="router.url == '/'">
            Log in
          </span>
        </button>
      </div>
    </div>
  </mat-toolbar>
</nav>
<section class="section-container">
  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</section>
