.section-container {
  padding: 15px;
}

.toolbar-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-btn {
  margin-left: 30px;
  text-decoration: none;
  color: black;
}
