.logo {
  margin-right: 50px;
}

.section-container {
  padding: 15px;
}

.toolbar-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  margin-left: 15px;
  text-decoration: none;
  color: black;
}

.nav-hidden {
  display: none;
}

.nav-slash {
  color: darkgray;
}

.mat-toolbar {
  background: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}
