.campaign-leaderboard {
  vertical-align: top;
  box-sizing: border-box;
  display: inline-block;
  flex: auto;
  margin-right: 20px;
}

.campaign-leaderboard {
}

.campaign-leaderboard table {
  width: 100%;
}
