.training-card {
  margin: 20px 0;
}

.metrics {
  width: 100%;
}

.metrics td {
  white-space: pre-wrap;
  padding: 10px;
}

.metrics th {
  text-align: left;
  padding: 10px;
}

.log-text {
  font-family: Courier, monospace;
  font-size: 12px;
}
