@font-face {
  font-family: BSH;
  src: url(assets/3200AF_1_0_woff2.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: BSH;
  src: url(assets/3200AF_0_0_woff2.woff2) format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: BSH;
  src: url(assets/3200AF_2_0_woff2.woff2) format('woff2');
  font-weight: 700;
  font-style: bold;
}

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$md-bshprimary: (
  50: #f0e4ef,
  100: #d9bbd6,
  200: #c08ebb,
  300: #a761a0,
  400: #943f8b,
  500: #811d77,
  600: #791a6f,
  700: #6e1564,
  800: #64115a,
  900: #510a47,
  A100: #ff86ec,
  A200: #ff53e3,
  A400: #ff20db,
  A700: #ff07d7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$md-bshsecondary: (
  50: #e0ebf4,
  100: #b3cee3,
  200: #80aed1,
  300: #4d8dbf,
  400: #2674b1,
  500: #005ca3,
  600: #00549b,
  700: #004a91,
  800: #004188,
  900: #003077,
  A100: #a5c1ff,
  A200: #729fff,
  A400: #3f7cff,
  A700: #256aff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bsh-gotcha-primary: mat-palette($md-bshprimary);
$bsh-gotcha-accent: mat-palette($md-bshsecondary, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bsh-gotcha-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$bsh-gotcha-theme: mat-light-theme($bsh-gotcha-primary, $bsh-gotcha-accent, $bsh-gotcha-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bsh-gotcha-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: BSH, 'Helvetica Neue', sans-serif;
  background: #f6f6f6;
}

* {
  font-family: BSH, 'Helvetica Neue', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

app-root {
  display: block;
  min-height: calc(100vh - 400px);
}

.footer {
  /* enable footer */
  display: none;

  box-sizing: border-box;
  width: 100%;
  background: white;
  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  height: 300px;
}

.mat-card-actions {
  margin: 0 !important;
}

.material-icons {
  vertical-align: middle;
}

.alert {
  color: red;
  font-weight: bold;
}
